**/*.pyc

/data/*
!/data/Info/
/synthetic/
/images/
**/__pycache__/
**/ckpt/
**/ckpt_old/
**/ckpt_large_beta/


**/*.pt
**/*.npy

/counterfactual_results/
/counterfactual_results_final/
/counterfactual_results_old/
/counterfactual_results_large_beta_small_model/
/counterfactual_results_small_model/
/counterfactual_results_small_beta_large_model/
/counterfactual_results_different_model_sizes/

screen_log*

/test/

/DiCE-main/
# /baselines/CARLA/
