numpy
pandas
scikit-learn
scipy
icecream
xlrd
tomli-w
zero
category_encoders
imbalanced-learn
transformers
datasets
kaggle==1.6.14
peft
ml_collections
sdmetrics
prdc
rdt
openpyxl
xgboost
torch
torchvision 
torchaudio
pyod
tensorflow